---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Home" description="The home page of the rustbyte solutions website.">
	<h1 class="text-4xl font-bold">
		404 - Unknown Page
	</h1>

	<h2 class="text-lg mx-12 sm:mx-28 md:mx-44 lg:mx-72 xl:mx-96 2xl:mx-[42rem]">
        The page you tried to visit was not found.
    </h2>

	<div class="mt-2 flex flex-row gap-4">
		<Button text="Home" href="/"/>
		<Button text="Team" href="/team"/>
        <Button text="Solutions" href="/solutions"/>
	</div>
</Layout>