---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Team from "../sections/Team";
import Solutions from "../sections/Solutions";
import Contact from "../sections/Contact";
import Footer  from "../sections/Footer.astro";
---

<Layout title="rustbyte solutions" description="Explore what rustbyte solutions has to offer">
	<div class="relative">
        <img class="fade w-screen h-[90vh] object-cover opacity-10 block dark:hidden" src="Black/Waves.webp" alt="">
		<img class="fade w-screen h-[90vh] object-cover opacity-10 hidden dark:block" src="White/Waves.webp" alt="">
	</div>

	<div class="absolute inset-0">
        <Header/>
		<Team/>
		<Solutions/>
		<Contact client:visible/>
		<Footer/>
	</div>

</Layout>

<style> 
	.fade {
		mask-image: linear-gradient(0deg, rgba(17, 17, 17, 0) 0%, #ffffff 100%);
	}
</style>
