---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="rustbyte solutions" description="Explore what rustbyte solutions has to offer">
	<div class="relative h-full">
        <img class="fade object-cover opacity-10 w-full h-full block dark:hidden" src="Black/Waves.webp" alt="">
		<img class="fade object-cover opacity-10 w-full h-full hidden dark:block" src="White/Waves.webp" alt="">
	</div>

	<div class="absolute inset-0">
        <Header/>
	</div>
</Layout>

<style> 
	.fade {
		mask-image: linear-gradient(0deg, rgba(17, 17, 17, 0) 0%, #ffffff 100%);
	}
</style>
