---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home" description="Hello">
	<header class="text-center w-screen h-[95vh] object-cover ">
		<h1 class="text-5xl font-bold opacity-100 mix-blend-normal ">
			Innovative Rust Solutions
		</h1>

		<img class="mix-blend-luminosity opacity-10" src="./background.jpg">

		<h2 class="py-10 text-xl font-semibold opacity-100 mix-blend-normal ">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, error sapiente non sequi aspernatur architecto praesentium minus! Dolorum dicta autem numquam aliquam commodi minus necessitatibus optio nulla laborum, laudantium at.
		</h2>
	</header>
</Layout>

<style>

</style>