---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Hello">
  <header>
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <h1 class="text-5xl font-bold">Innovative Rust Solutions</h1>
      <h2 class="text-center text-2xl font-medium">placeholder description</h2>
    </div>
    <div class="relative">
      <img class="mix-blend-luminosity opacity-5" src="./background.jpg" />
    </div>
  </header>
</Layout>

<style></style>
