---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="Home" description="The home page of the rustbyte solutions website.">
	<img class="w-64 h-32" src="./logo.svg">

	<h1 class="text-4xl font-bold">
		Innovative Rust Solutions
	</h1>

	<h2 class="text-lg mx-12 sm:mx-28 md:mx-44 lg:mx-72 xl:mx-96 2xl:mx-[42rem]">
		We are a small group of passionate, hard-working and like-minded individuals 
		who love developng solutions for <a class="underline hover:text-transparent duration-500" href="https://rust.facepunch.com/">Rust</a>.
	</h2>

	<div class="mt-2 flex flex-row gap-4">
		<Button text="Team" href="/team"/>
		<Button text="Solutions" href="/solutions"/>
	</div>
</Layout>