---
import Layout from "../layouts/Layout.astro";
---

<Layout title="rustbyte solutions" description="Explore what rustbyte solutions has to offer">

	<h1 class="font-inter font-bold">
		good luck...
	</h1>
</Layout>

<style>
	.fade {
		mask-image: linear-gradient(0deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
	}
</style>