---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Solutions" description="On this page you can find a list of solutions rustbyte solutions has made.">
    <h1 class="mt-24 md:mt-0 text-5xl font-extrabold font-sans rustbyte">
        Coming Soon™️
    </h1>
</Layout>