---
export interface Props {
	text: string;
	href?: string;
	id?: string;
}

const { text, href, id } = Astro.props;
---

<a href={href}>
	<button title={text} id={id} class="items-center backdrop-blur-sm border-2 border-white/10 bg-white/5 shadow-md gap-1 px-5 py-2 rounded-lg hover:bg-white/20 duration-500">
		{text}
	</button>
</a>
