---
interface Props {
	text: string;
	link: string;
}

const { text, link } = Astro.props;

let target = "";

if (link.includes("https")) {
	target = "_blank"
}
---

<a class="mr-4 md:mr-6 underline decoration-2 decoration-transparent hover:decoration-primary duration-500" target={target} href={link}>
	{text}
</a>