---
export interface Props {
	text: string;
    href: string;
}

const { text, href } = Astro.props;
---

<a href={href} class="font-bold menuLinkButton hover:translate-x-2 duration-500">
    <button>{text}</button>
</a>