---
interface Props {
	text: string;
	href: string;
}

const { text, href } = Astro.props;
---

<div class="text-accent-light dark:text-accent-dark py-2 px-3 underline decoration-2 decoration-transparent hover:decoration-[#A4EA47] duration-500">
    <a href={href}>{text}</a>
</div>
