---

---

<div class="top-5 sticky flex gap-4 mt-5 mx-auto justify-center w-4/5 h-10">
    <div class="flex w-40 h-full justify-start"></div>
    <div class="flex items-center justify-center w-full h-full">
        <nav class="bg-white justify-center border-2 border-gray-400 rounded-full w-1/2">
            <ul class="font-inter font-medium flex h-full items-center justify-between mx-10">
                <li class="py-2 px-3">
                    <a href="#">Team</a>
                </li>
                <li class="py-2 px-3">
                    <a href="#">Solutions</a>
                </li>
                <li class="py-2 px-3">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="flex w-40 h-full justify-end">
        <div class="flex bg-white justify-center items-center border-2 border-gray-400 rounded-full w-16 h-full">
            <div class="justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                </svg>
            </div>
        </div>
    </div>
</div>
