---
import NavbarLink from "../components/NavbarLink.astro";
---

<div class="top-5 sticky flex gap-4 mt-5 mx-auto justify-center w-3/5 h-10">
    <div class="flex w-40 h-full justify-start gap-3">
        <img class="w-[1.9375rem] h-[1.75rem] mt-1 block dark:hidden" src="Black/Logo.svg" alt="Black Rustbyte Logo">
        <img class="block dark:hidden" src="Black/Rustbyte.svg" alt="Black Rustbyte Text">

        <img class="w-[1.9375rem] h-[1.75rem] mt-1 hidden dark:block" src="White/Logo.svg" alt="White Rustbyte Logo">
        <img class="hidden dark:block" src="White/Rustbyte.svg" alt="White Rustbyte Text">
    </div>
    
    <div class="flex items-center justify-center w-full h-full">
        <nav class="bg-white dark:bg-black justify-center border-2 border-gray-400 dark:border-[#353535] rounded-full w-1/2">
            <ul class="font-inter font-medium flex h-full items-center justify-between mx-10">
                <NavbarLink text="Team" href="#team"/>
                <NavbarLink text="Solutions" href="#solutions"/>
                <NavbarLink text="Contact" href="#contact"/>
            </ul>
        </nav>
    </div>

    <div class="flex w-40 h-full justify-end">
        <button class="flex bg-white dark:bg-black justify-center items-center border-2 border-gray-400 dark:border-[#353535] rounded-full w-16 h-full"
        aria-label="Dark/light mode switch" id="themeButton">
            <div class="justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden" id="moon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"/>
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden" id="sun">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"/>
                </svg>
            </div>
        </button>
    </div>
</div>

<script>
	const sun = document.getElementById("sun")!;
	const moon = document.getElementById("moon")!;
    const themeButton = document.getElementById("themeButton")!;

    themeButton.addEventListener("click", () => {
        if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
            sun.classList.add("hidden");
            moon.classList.remove("hidden");
            localStorage.theme = "light";
            document.documentElement.classList.remove("dark");
            document.documentElement.classList.remove("color-scheme-dark");
            document.documentElement.classList.add("color-scheme-light");
        } else {
            moon.classList.add("hidden");
            sun.classList.remove("hidden");
            localStorage.theme = "dark";
            document.documentElement.classList.add("dark");
            document.documentElement.classList.add("color-scheme-dark");
            document.documentElement.classList.remove("color-scheme-light");
        }
    });
</script>