---
interface Props {
	text: string;
	href: string;
}

const { text, href } = Astro.props;
---

<div class="py-2 px-3 underline decoration-transparent hover:decoration-inherit duration-500">
    <a href={href}>{text}</a>
</div>
