---

---

<div class="flex mt-10 mx-auto justify-center w-1/2 h-10">
    <nav class="bg-white border-2 border-gray-400 rounded-full w-1/2 ">
        <ul>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </nav>
</div>
