---
import Button from "../components/NavigationButton.astro";

let home, team, solutions;
let url = Astro.url.toString();

if (url.includes("team")) {
	team = true;
} else if (url.includes("solutions")) {
	solutions = true;
} else {
	home = true;
}
---
<!-- Navigation Bar & Menu -->

<nav class="z-50 fixed min-w-full backdrop-blur-md px-4 py-2">
	<div class="flex justify-between">
		<div class="flex justify-start text-lg">
			<a href="/">
				<img src="./logo.svg" alt="Rustbyte Logo" width="128px" height="96px" />
			</a>
		</div>
		<div class="flex justify-end">
			<button id="menu_button" title="Toggle menu button">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-8 h-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"></path>
				</svg>
			</button>
		</div>
	</div>
</nav>

<menu id="menu" class="fixed top-0 left-0 z-40 flex items-center justify-center invisible w-screen h-screen">
	<div class="flex flex-col justify-center items-start gap-2 sm:gap-4 md:gap-6 bg-clip-text bg-gradient-to-r from-[#38e5e3] to-[#4e89d3] text-3xl">
		<Button text="Home" href="/" click={home} />
		<Button text="Team" href="/team" click={team} />
		<Button text="Solutions" href="/solutions" click={solutions} />
	</div>
</menu>

<style>
    .invisible {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300ms, opacity 300ms;
    }

    .visibile {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 300ms;
    }
</style>

<script>
	let duration500Items = []!;
	const items = document.querySelectorAll("*")!;
	const menu = document.getElementById("menu")!;
	const main = document.getElementById("main")!;
	const button = document.getElementById("menu_button")!;

	items.forEach(item => {
		if (item.classList.contains("duration-500")) {
			if (item.id != "navigationButton") {
				duration500Items.push(item)!;
			}
		}
	})

	button.addEventListener("click", () => {
		if (menu.classList.contains("invisible")) {
			duration500Items.forEach(item => {
				item.classList.remove("duration-500");
			})

			document.body.style.overflow = "hidden";

			main.classList.add("invisible");

			menu.classList.remove("invisible");
			menu.classList.add("visibile");
		} else {
			duration500Items.forEach(item => {
				item.classList.add("duration-500");
			})

			document.body.style.overflow = "auto";

			main.classList.remove("invisible");

			menu.classList.remove("visibile");
			menu.classList.add("invisible");
		}
	});
</script>
