---
export interface Props {
	text: string;
    href: string;
    click?: boolean;
}

const { text, href, click} = Astro.props;
---

<a href={href} class="font-bold duration-500 hover:text-transparent">
    {click ? <button class="text-transparent">{text}</button> : <button>{text}</button>}
</a>