<!-- background image here???????
<div class="relative">
    <img class="w-screen h-[90vh] object-cover opacity-10 block dark:hidden" src="Black/XO.webp" alt="">
    <img class="w-screen h-[90vh] object-cover opacity-10 hidden dark:block" src="White/XO.webp" alt="">
</div> 
-->


<div class="bg-red-500 w-[20rem] md:w-[67rem] mb-16 md:h-3/4 mx-auto md:flex justify-between mt-10 sm:mt-36">

    <div class="inline font-inter font-bold">
        <h1 class="text-5xl md:text-7xl text-center tracking-tight md:text-left">Contact Us</h1>
        <p class="font-medium text-center md:text-left mt-5 md:mt-10 text-xl md:text-2xl leading-tight">
            <span class="block">Wether you have a suggestion</span>
            <span class="block">or want to give feedack</span>
            <span>we're here to listen</span>
        </p>
    </div>

    <div class="w-full md:w-1/2 flex top-0 mt-8 md:mt-2">
        <form action="" class="flex flex-col gap-2 w-full">
            <input type="text" name="name" placeholder="Name" class="p-2 border-2 border-gray-400 bg-white rounded-lg">
            <input type="text" id="email" name="email" placeholder="Email" class="p-2 border-2 border-gray-400 bg-white rounded-lg" required>
            <textarea name="message" placeholder="Leave a message!" class="h-2/3 p-2 border-2 border-gray-400 bg-white rounded-lg" required></textarea>
            <button type="submit" class="rounded-md md:w-1/4 px-9 py-4 font-normal bg-black text-white">Submit</button>
        </form>
    </div>

</div>