---
import FooterLink from "../components/FooterLink.astro";

const year = new Date().getFullYear();
---

<footer class="shadow bg-secondary-light dark:bg-secondary-dark">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-6">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex flex-wrap items-center justify-center mx-auto mb-6 text-sm font-medium text-gray-400 sm:mb-0 text-accent-light dark:text-accent-dark">
                <FooterLink text="Team" href="#team"/>
                <FooterLink text="Solutions" href="#solutions"/>
                <FooterLink text="Contact" href="#Contact"/>
                <FooterLink text="Discord" href="discord.rustbyte.dev"/>
                <FooterLink text="GitHub" href="github.rustbyte.dev"/>
            </div>
        </div>
        <hr class="my-6 w-full md:w-1/3 mx-auto border-accent-light dark:border-accent-dark"/>
        <span class="block text-sm text-accent-light dark:text-accent-dark text-center">© {year} 
            <a href="https://rustbyte.dev" class="underline decoration-2 decoration-transparent hover:decoration-primary duration-500">Rustbyte</a>. 
            All Rights Reserved.
            <a class="flex items-center justify-center mt-4" href="https://winworldpc.com/product/netscape-navigator/30x" target="_blank">
                <img src="./netscape.gif" alt="This page is best viewed with: Netscape">
            </a>
        </span>
    </div>
</footer>

