<div class="mt-20">
	<div class="flex flex-col font-inter items-center mx-auto">
		<h1 class="text-5xl sm:text-6xl md:text-9xl leading-none tracking-tight font-bold">Innovative 
			<span class="block text-center text-4xl sm:text-5xl md:text-[5.7rem] tracking-tight">Rust Solutions</span>
		</h1>

		<p class="md:text-3xl text-xl text-center mt-4">
			all the tools you need for a <br> better in-game experience.
		</p>

		<div class="md:my-10 my-5 flex flex-row md:gap-24 md:justify-between">
			<p class="md:text-2xl text-xl text-center md:text-left font-bold leading-tight">500+ 
				<span class="font-medium">solutions downloaded and counting!</span>
			</p>
		</div>

		<button class="rounded-md px-9 py-4 bg-primary text-black hover:-translate-y-2 duration-500">
			Learn More
		</button>
	</div>
</div>
