<div class="mt-32 px-10">
	<div class="flex flex-col font-inter font-medium items-center w-1/2 mx-auto">
		<h1 class="md:text-[8rem] text-7xl leading-none tracking-tight font-bold">Innovative 
			<span class="block text-center md:text-[5.7rem] text-5xl tracking-tight">Rust Solutions</span>
		</h1>
		<p class="md:text-3xl text-xl font-normal text-center mt-5 md:mt-10">all the tools you need 
			<span class="block">for a better in-game experience<span/>
		</p>
		<div class="md:my-10 my-5 flex flex-row md:gap-24 md:justify-between">
			<p class="md:text-2xl text-xl text-center md:text-left font-bold leading-tight">500+ 
				<span class="font-normal block md:inline">solutions downloaded and counting!</span>
			</p>
		</div>
		<button class="rounded-md px-9 py-4 bg-black text-white">Learn More</button>
	</div>
</div>