---
import Solution from "../components/Solution.astro"
---

<div id="solutions"/>
<div class="mt-16 sm:mt-36 px-10">
    <div class="flex flex-col font-inter font-medium items-center w-1/2 mx-auto">
        <h1 class="md:text-7xl text-5xl text-center tracking-tight font-bold">Our Solutions</h1>
        <p class="md:text-2xl text-xl text-center mt-4">We strive to make the in-game experience of our users
            <span class="block">to be the best it can be while keeping quality of life in mind<span/>
        </p>
    </div>

    <div class="mt-12 mx-12 flex flex-row flex-wrap gap-6 items-stretch justify-center">
        <Solution name="Javelin" link="https://codefling.com/carbon/javelin"
        description="Turns the currently useless smoke rockets into fun javelin rockets. Very basic and barebones."/>
    
        <Solution name="The Door Knocker" link="https://codefling.com/plugins/the-door-knocker"
        description="Allows players to fire off more than 1 rocket at a time if they have enough rockets in their inventory."/>
    
        <Solution name="Glorious Deaths" link="https://codefling.com/plugins/glorious-deaths"
        description="Adds some flair to your corpse when you're killed by another player!"/>
    
        <Solution name="Range Finder" link="https://codefling.com/plugins/range-finder"
        description="Adds a simplistic range finder to the binoculars."/>
    </div>
</div>