---
import TeamPortrait from "../components/TeamPortrait.astro"
---

<div class="mt-36 px-10" id="team">
    <div class="flex flex-col font-inter font-medium items-center w-1/2 mx-auto">
        <h1 class="md:text-7xl text-5xl text-center tracking-tight font-bold">Meet the team</h1>
        <p class="md:text-2xl text-xl text-center mt-4">See the minds behind Rustbyte 
            <span class="block">and what they contribute to the team<span/>
        </p>
    </div>

    <div class="mt-12 mx-12 flex flex-row flex-wrap gap-4 items-stretch justify-center">
        <TeamPortrait name="Cannabis" roles="Plugin Dev" rolesTitle="Founder - Plugin Developer" discordId="97145520446787584"
        description="Rustbyte's main founder. Without him rustbyte and many of our plugins wouldn't exist."/>
    
        <TeamPortrait name="Ender" roles="Frontend Dev" rolesTitle="Founder - Bot Developer - Website Developer" discordId="1022842005920940063"
        description="One of the main frontend devs, Ender with help from Albert made the website your looking at come to life. "/>

        <TeamPortrait name="Albert" roles="Designer" rolesTitle="Founder - Plugin Developer" discordId="204040618811326465"
        description="Designer first, frontend second. Albert helped in coding the website and is our main designer."/>
        
        <TeamPortrait name="Andy" roles="Backend Dev" rolesTitle="Website Developer" discordId="683002779396079667"
        description="If there's any backend that needs handling, Andy is responsible for all behind the scenes action."/>
    </div>
</div>