---
import TeamPortraits from "../components/TeamPortraits.astro"
---

<div class="mt-32 px-10">
    <div class="flex flex-col font-inter font-medium items-center w-1/2 mx-auto">
        <h1 class="md:text-7xl text-5xl text-center tracking-tight font-bold">Meet the team</h1>
        <p class="md:text-2xl text-xl font-normal text-center mt-5 md:mt-10">See the minds behind Rustbyte 
            <span class="block">and what they contribute to the team<span/>
        </p>
    </div>
    <!-- <TeamPortraits /> should go here somewhere -->
</div>